/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fredoka', sans-serif;
}
.container{
  width: 90%;
  max-width: 1170px;
  margin: 30px auto;

  /* da eliminare */

  /* height: 200px; */
  background-color: red;
  border: 1px solid black;


}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* FINE GENERAL */


/* INIZIO HEADER */
  header, p{
    text-align: center;
  }

/* FINE HEADER */


/* INIZIO MAIN */

main .paragrafo p{
  margin-bottom: 30px;
}

main .cards .row .card{
  float: left;
  width: calc(100% / 3);
  height: 100px;
  border: 1px solid white;
  background-color: black;
  color: white;
}






/* FINE MAIN */